.jian-shu-writer-page-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper,
.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container,
.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title {
  border: 0;
  outline: none;
  width: 100%;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title {
  padding: 0 15px;
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title:-moz-placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title::-moz-placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}

.jian-shu-writer-page-container
.jian-shu-writer-page-editor-title-wrapper
.jian-shu-writer-page-editor-title-container
.jian-shu-writer-page-editor-title:-ms-input-placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}

.jian-shu-writer-page-braft-editor-wrapper {
  width: 100%;
}